/*Home Page*/
@media only screen and (max-width : 470px) {
	.des-box{
		width: auto !important;
	}
	.tolak .btn-con{
		float: left; 
		text-align: left; 
	}
	#kit center{
			float: left;
	}
	#kit img{
		width: 300px ; 
	}
	.tolak .title-box{
		font-size: 18px;
	}
	.carousel-caption, .carousel-caption-sakura{
		display: none 
	}
}

/*Header Section*/

/*Footer Section*/

/*Product List*/
@media only screen and (max-width : 980px){
	.leb-product div{
		float: left; 
	}
	.tolak-product{
		float: none; 
	}
}

@media only screen and (max-width: 600px){
	.leb-product div select{
		display: block;
		margin-top: 10px;
		width: 200px;
		clear: both;
	}
	.leb-product div{
		width: 100%;
	}
	.product-bar{
		height: 140px;
	}
	.tajuk-filter{
		display: none; 
	}


}
@media only screen and (max-width: 650px){
	.banner-fym .module, .banner-fym .hair2{
		width: 280px;
	}
	.banner-fym .module .texting, .banner-fym .hair2 .texting{
		text-align: center;
		background-color: rgba(0, 0, 0, 0.60);
		font-size: 15px;
		padding: 100px 10px;
		margin: 0;
		color: #fff;
	}
}
@media only screen and (max-width: 980px){
	#find-match .tolak-product, #find-match div[role="tabpanel"], .tajuk-besar{
		margin-left: 37px;
	}
}
/*Single Product*/
@media only screen and(max-width: 350px){
	.breadcrumb{
		
	}
}
@media only screen and (max-width : 980px){
	.suggest-box, .suggest-box-ttl{
		display: none
	}
	.product-ttl, .product-content{
		width: 300px;
	}
	.social-share{
		float: left
	}
	.product-info{
		display: none 
	}
	.breadcrumb, .breadcrumb a{
		margin-top: 0;
		color: #fff;
	}
	.breadcrumb{
		width: 30%;
		margin-top: -10px;
	}
	.products-img{
		max-width: 300px;
	}
}

/*Sign up*/

@media only screen and (max-width: 700px){
	form.login-section.form-horizontal .form-group{
		width: 40%
	}
	.tajuk-besar .sub-text{
		width: 300px;
	}
}
@media only screen and (max-width: 980px){
	.box-content{
		margin-top: 140px;
	}
	.text-sm{
		padding: 20px;
	}
}